services:
  db:
    image: mysql:8.0
    container_name: taskauth-mysql
    environment:
      MYSQL_DATABASE: taskauth
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
 